<div ng-switch="ramlStatus">
  <div class="raml-console-initializer-container raml-console-initializer-primary" ng-switch-default>
    <h1 class="raml-console-title">RAML Console</h1>

    <div class="raml-console-initializer-content-wrapper">

      <section>
        <header class="raml-console-initializer-row raml-console-initializer-subheader">
          <h4 class="raml-console-initializer-subhead">Initialize from a Git repository</h4>
        </header>

        <div class="raml-console-initializer-row">
          <div class="raml-console-initializer-input-container resource-panel-wrapper raml-console-git-panel" ng-class="{ 'raml-console-initializer-input-container-error': errorMessage && isLoadedFromGitUrl }">

            <p class="raml-console-git-form">
              <label>Group</label>
              <input id="gitGroup" autofocus class="raml-console-initializer-input raml-console-initializer-raml-field" ng-model="$parent.git.group" ng-keypress="onKeyPressGitUrl($event)" ng-change="onGitUrlChange()">
            </p>

            <p class="raml-console-git-form">
              <label>Repository</label>
              <input id="gitRepository" class="raml-console-initializer-input raml-console-initializer-raml-field" ng-model="$parent.git.repository" ng-keypress="onKeyPressGitUrl($event)" ng-change="onGitUrlChange()">
            </p>

            <p class="raml-console-git-form raml-console-git-form-last">
              <label>Branch / Tag</label>
              <input id="gitBranch" class="raml-console-initializer-input raml-console-initializer-raml-field" ng-model="$parent.git.branch" ng-keypress="onKeyPressGitUrl($event)" ng-change="onGitUrlChange()" placeholder="master">
            </p>

          </div>

          <p ng-class="{ 'raml-console-initializer-input-container-error': errorMessage && isLoadedFromGitUrl }">
            <label>Path to RAML file</label>
            <input id="gitRamlPath" class="raml-console-initializer-input raml-console-initializer-raml-field" ng-model="$parent.git.path" ng-keypress="onKeyPressGitUrl($event)" ng-change="onGitUrlChange()">
          </p>

          <div class="raml-console-parser-error" ng-if="isLoadedFromUrl && isLoadedFromGitUrl">
            <span>{{errorMessage}}</span>
          </div>

          <div class="raml-console-initializer-action-group raml-console-git-panel">
            <p class="raml-console-git-url">{{$parent.ramlGitUrl}}</p>
            <p class="raml-console-git-button-box">
              <button id="loadRamlFromGitUrl" class="raml-console-initializer-action raml-console-initializer-action-btn" ng-click="loadFromGitUrl()">Load from Git</button>
            </p>
          </div>

        </div>
      </section>

      <section>
        <header class="raml-console-initializer-row raml-console-initializer-subheader">
          <h4 class="raml-console-initializer-subhead">Or initialize from the URL of a RAML file</h4>
        </header>

        <div class="raml-console-initializer-row">
          <p class="raml-console-initializer-input-container" ng-class="{ 'raml-console-initializer-input-container-error': errorMessage && !isLoadedFromGitUrl }">
            <input id="ramlPath" class="raml-console-initializer-input raml-console-initializer-raml-field" ng-model="$parent.ramlUrl" ng-keypress="onKeyPressRamlUrl($event)" ng-change="onChange()">
          </p>
          <div class="raml-console-parser-error" ng-if="isLoadedFromUrl && !isLoadedFromGitUrl">
            <span>{{errorMessage}}</span>
          </div>
          <div class="raml-console-initializer-action-group" align="right">
            <button id="loadRamlFromUrl" class="raml-console-initializer-action raml-console-initializer-action-btn" ng-click="loadFromUrl()">Load from URL</button>
          </div>
        </div>
      </section>

      <section>
        <header class="raml-console-initializer-row raml-console-initializer-subheader">
          <h4 class="raml-console-initializer-subhead">or parse RAML in here</h4>
        </header>

        <div class="raml-console-initializer-row">
          <p class="raml-console-initializer-input-container">
            <textarea id="raml" ui-codemirror="{
              lineNumbers: true,
              lineWrapping : true,
              tabSize: 2,
              mode: 'yaml',
              gutters: ['CodeMirror-lint-markers'],
              lint: true,
              theme : 'raml-console'
            }" ng-model="$parent.raml"></textarea>
          </p>
          <div class="raml-console-initializer-action-group" align="right">
            <button id="loadRaml" class="raml-console-initializer-action raml-console-initializer-action-btn" ng-click="loadRaml()">Load RAML</button>
          </div>
        </div>
      </section>
    </div>
  </div>

  <raml-console ng-switch-when="loaded" disable-raml-client-generator></raml-console>

  <div ng-switch-when="loading">
    <div class="raml-console-spinner">
      <div class="raml-console-rect1"></div>
      <div class="raml-console-rect2"></div>
      <div class="raml-console-rect3"></div>
      <div class="raml-console-rect4"></div>
      <div class="raml-console-rect5"></div>
    </div>
  </div>
</div>
